.filters-list {
  margin: 30px -5px;
}

.filters-button {
  margin: 0 5px;
  padding: 8px 15px;

  color: #555555;
  background-color: #ffffff;
  border: 1px solid #555555;
  border-radius: 0;
  
  cursor: pointer;
}

.filters-button.active {
  color: #ffffff;
  background-color: #555555;
}